/*
   feuille de styles - responsive Design
   @author Didier Tirard - dec 2021
 */

@font-face {
   font-family: "Roboto-Black";
   src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
   font-family: "Roboto-Regular";
   src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
   margin: 0;
   padding: 0;
}

html {
   font-family: "Roboto-Regular";
}

header {
   font-family: "Roboto-black";
   color: rgb(255 255 255);
   background-color: rgb(153 51 204);
   padding: 1vw;
}

main {
   display: flex;

}



nav {
   width: 25vw;
   margin-left: 1vw;
}

nav ul {
   list-style-type: none;
}

nav ul li {
   color: rgb(255 255 255);
   background-color: rgb(51 181 229);
   padding: 0.5vw;
   margin: 0.5vw;
}

section {
   width: 50vw;
   min-height: 50vh;
   padding: 1.5vw;
}

aside {
   width: 25vw;
   color: rgb(255 255 255);
   background-color: rgb(51 181 229);
   padding: 1vw;
   margin-top: 1vw;
}

aside h2 {
   text-align: center;
   margin: 1vw 0 1vw 0;
}

aside h3 {
   border-top: 1px solid rgb(255 255 255/50%);
}

footer {
   position: absolute;
   text-align: center;
   color: rgb(255 255 255);
   background-color: rgb(51 181 229);
   padding: 1vw;
   margin-top: 1vw;
   bottom: 0px;
   width: 98vw;
}

.bottomFooter {
   position: relative;
   width: auto;
}
